<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Feed settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Feed</string>
			<key>Titles</key>
			<array>
				<string>BBC</string>
				<string>The Guardian</string>
				<string>Reuters</string>
			</array>
			<key>Key</key>
			<string>chosenFeed</string>
			<key>DefaultValue</key>
			<true/>
			<key>Values</key>
			<array>
				<string>http://feeds.bbci.co.uk/news/rss.xml</string>
				<string>http://www.theguardian.com/world/rss</string>
				<string>http://feeds.reuters.com/Reuters/worldNews?format=xml</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use custom URL</string>
			<key>Key</key>
			<string>isCustomUrl</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>Item 0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>feedUrl</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
